.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #005587;
}

.login-wrapper h2 {
    text-align: center;
    font-size: 20px;
}

.login-page {
    display: flex;
    flex-direction: column;
    width: 25rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: #ffffff;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem; 
    padding: 0.5rem 2rem ;
}

.login-form label {
    font-size: 16px;
}

.login-form input {
    width: 20rem;
    height: 2rem;
    margin-top: 0.3rem;
    padding-left: 0.25rem;
    font-size: 14px;
}

.login-form div {
    margin-bottom: 0.5rem;
}

.login-form button {
    margin-top: 1rem;
    width: 20rem;
    height: 2rem;
    background-color: rgb(65, 141, 255);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.login-form button:hover{
    color: #FFD100;
}

.login-form p {
    font-size: 14px;
    margin-top: 0.5rem;
}

.login-form a {
    color: green;
}