section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

h2 {
    text-align: center;
}

.login-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30rem;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    padding: 1rem;
}

.login-form {
    align-items: left;
    margin: 0.5rem;
}

.login-form input {
    width: 15rem;
}

.login-form div {
    margin-bottom: 0.5rem;
}
