.account-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.my-account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #DAEBFE;
    padding: 2.5rem 1.5rem 4rem;
}