@import url('https://fonts.cdnfonts.com/css/helvetica-now'); 

.register-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #005587;
    font-family: 'Helvetica Now', sans-serif;
}

h2 {
    text-align: center;
}

.register-page {
    display: flex;
    flex-direction: column;
    width: 25rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: #ffffff;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem; 
    padding: 0.5rem 2rem ;
}

.register-form label {
    font-size: 0.9rem;
}

.register-form input {
    width: 20rem;
    height: 2rem;
    margin-top: 0.3rem;
    padding-left: 0.25rem;
    font-size: 0.8rem;
}

.register-form div {
    margin-bottom: 0.5rem;
}

.register-form button {
    margin-top: 1rem;
    width: 20rem;
    height: 2rem;
    background-color: rgb(65, 141, 255);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}

.register-form button:hover{
    color: #FFD100;
}