PORT=3000
MONGO_URI=mongodb+srv://zachshamieh_db_user:<db_password>@bruin-bazaar-cluster.dj1q5yd.mongodb.net/?appName=bruin-bazaar-cluster
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=a3f8b2c1d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=