header {
    padding: 0.25rem 1rem; 
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;

}

.nav a {
    text-decoration: none;
    color: black;
}

.nav img {
    width: 2rem;
}