header {
    padding: 1rem 2rem; 
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #FFB81C;
}

.nav img {
    width: 2rem;
}