.listing-item {
    width: 100%;
    height: 23rem;
    background-color: transparent;
    border-radius: 16px;
    border: 1px solid lightgray;

    display: flex;
    flex-direction: column;
}

.listing-item img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
    display: block;
}

.listing-descrip {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.listing-descrip h1 {
    font-weight: 600;
    font-size: 1.25rem;
}

.listing-item:hover {
    cursor: pointer;
}
