.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-box {
  background: white;
  border-radius: 8px;
  padding: 2rem;
  width: 50rem;
  height: 60rem;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content {
    display: flex;
    gap: 1rem;
}

.modal-box img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
}

.modal-box button:hover {
    cursor: pointer;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 28rem;
    height: 30rem;
    gap: 2rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 15rem;
    word-wrap: break-word;
}

.title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0.3rem;
}

.seller {
    margin-bottom: 0.75rem;
}


.price {
    font-size: 18px;
    margin-bottom: 0.75rem;
}


.sell-title {
    font-size: 18px;
    margin-bottom: 0.3rem;
}

.seller {
    color: grey;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.message {
    background-color: rgb(65, 141, 255);
    color: white;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.like img {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}

.like {
    width: 8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #f2a0c6;
    color: white;
    border-radius: 5px;
    padding: 0.25rem;
}