.home-page {
    background-color: #DAEBFE;
    min-height: 100vh;
}

.listing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 2rem;
    padding: 2rem clamp(1rem, 5vw, 5rem);
}

.blurred {
  filter: blur(4px);
  pointer-events: none; /* prevents clicking through */
  user-select: none;
}

.login-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 20rem;
  height: 15rem;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-prompt p {
    font-size: 20px;
}

.login-prompt a {
    color: green;
    font-size: 20px;
}
