.search {
    padding: 3rem 0 0 7rem;
}

.search-input {
    width: 45vw;
    border: 2px solid;
    border-color: #8BB8E8;
    border-radius: 5px;
    padding: 0 0.5rem;
}

.clear {
    margin-left: 0.5rem;
}
